* {
    top: 0;
    left: 0;
}

a :hover {
    color: gray;
}

div {
    display: block;
}

.AllContents {
    margin: 0px 7em;
}

.loaf {
    display: block;
    margin: 0px;
    margin-bottom: 5.5rem;
}

/*banner*/

.pageLink {
    text-decoration: none;
    color: black;
}

.unclicked {
    color: black;
}

.clicked {
    color: rgb(255, 138, 61);
}

.menu a:hover {
    color: rgb(255, 138, 61);
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    position: sticky;
    top: 0px;
    background-color: white;
    right: 0px;
    left: 0px;
    margin: 0px;
    z-index: 10;
}

@media (min-width: 36em) {
    .banner #bannerMenu {
        flex-direction: row;
        align-items: center;
        gap: 3.5rem;
        position: relative;
        transform: none;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}

.banner #bannerMenu {
    display: flex;
    list-style: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background .3s ease-in-out;
    transition-property: background;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    font-weight: bold;
}

.banner #bannerMenu .menu {
    display: flex;
    justify-content: flex-end;
}

#Team {
    text-decoration: none;
    font-family: fantasy;
    color: rgb(255, 138, 61);
}

/*본문*/

/*윗 내용*/

@media (min-width: 576px) {
    .text {
        margin-bottom: 5.5rem;
    }
}

#text {
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin-top: 70px;
    margin-bottom: 90px;
    /*box-sizing: border-box;
    max-width: var(--sizes-maxContent);
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;*/
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.contents #image1 {
    margin: 0px;
}

/*첫번째 큰 사진+ 월평균 어쩌구*/

#image1 img {
    width: 100%;
    height: auto;
}

#image1 {
    text-align: center;
    width: 100%;
}

#text2 {
    font-weight: bold;
    font-size: 25px;
    width: 60%;
    margin-top: 50px;
}

#text2 > p {
    word-spacing: 1px;
    line-height: 1.4;
}

/*
#text2 {
    box-sizing: border-box;
    max-width: var(--sizes-maxContent);
    margin: 0 auto;
    grid-column-start: 1;
    font-weight: bold;
    white-space: pre-line;
    position: relative;
    overflow: hidden;
}*/



@media(min-width: 576px) {
    #text2 {
        display: flex;
    }
    #image1 {
        display: block;
    }
}

/*팀소개*/

#teamIntro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4.5rem;
}

#userValue {
    font-size: 2em;
    word-spacing: 1px;
    line-height: 1.4;
}

#effort {
    display: flex;
    font-size: 18px;
    word-spacing: 1.5px;
    margin: 0;
    max-width: 500px;
    word-spacing: 1px;
    line-height: 1.4;
}

#teamIntro2 {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    font-size: 20px;
}

#teamIntro2 > h4 {
    margin: 0;
    word-spacing: 1px;
}

/*팀원들의 한 마디*/

/*#teamIntroduction */

#teamIntroduction {
    margin-top: 100px;
    margin-bottom: 100px;
    overflow: hidden;
}

.container {
    width: 300%;
    transition: 0.5s ease-in;
    height: auto;
    position: relative;
    z-index: -1;
    display: block;
}

.introDetail {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin-bottom: 50px;
    width: 100%;
}

.group {
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
    margin: 0px;
    min-width: 100%;
    justify-content: center;
}

.member {
    display: grid;
    /* min-width: 40%; */
    grid-template-rows: repeat(2, min-content);
    row-gap: 2rem;
}

.memberNote {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0px;
    gap: 2rem;
}

.member > picture {
    margin: 0;
}

.member > picture img {
    width: 100%;
    height: 100%;
    margin: 0;
}

.memberQuote {
    display: flex;
    margin: 0px;
    font-weight: bold;
    font-size: 28px;
    width: auto;
    word-spacing: 1px;
    line-height: 1.4;
}

.memberInfo {
    margin: 0px;
    font-size: 20px;
    color: rgb(82, 82, 82);
}

#button {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 40px;
    scroll-behavior: smooth;
}

#button .btn {
    text-decoration: none;
}

@media (max-width: 87.5em) {
    .before, .after {
        visibility: hidden;
    }
}

.before , .after {
    width: 50px;
    height: 50px;
    position: relative;
    top: 20rem;
    z-index: 10;
}

.before #leftBtn {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.after #rightBtn {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.before:hover {
    opacity: 0.3;
}

.after:hover {
    opacity: 0.3;
}

.TextAndBtn {
    display: flex;
    flex-direction: row;
}

/* js button */
.menu_selected {
    content: url(./images/blackcircle.jpg);
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.menu_unselected {
    content: url(./images/circle.jpg);
    width: 14px;
    height: 14px;
    cursor: pointer;
}

/*팀 문화*/

#teamWord {
    font-weight: bold;
    font-size: 20px;
    word-spacing: 1px;
}

#WeCan {
    font-size: 40px;
    font-weight: bold;
    word-spacing: 1px;
    line-height: 1.4;
}

#seeMore {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

#TeamCulture a:hover { /*{ hover는 상위 클래스(아이디 등) 쓴 뒤에 해야 먹음 */
    opacity: 0.6;
}

#seeMore > img {
    width: 25px;
    height: auto;
}

#CultureDetail {
    margin-bottom: 30px;
}

#teamCulture {
    display:flex;
    gap: 5rem;
    margin-bottom: 180px;
    margin-top: 70px;
    justify-content: center;
}

#check {
    margin: 0px;
    display: block;
}

#TeamCulture {
    min-width: 390px;
}

#check img {
    float: right;
}

#goCulture {
    position: relative;
    top: 5px;
}

/*마지막 사진+ 지금, 당근마켓의 . . .*/

#lastImg {
    width: 100%;
    height: auto;
    display: block;
    margin: 0px;
    overflow: hidden;
}

#lastImg img {
    width: 100%;
    height: auto;
    margin: 0px;
    vertical-align: top;
    position: relative;
    overflow: top;
}


.work {
    display: block;
    width: 100%;
    height: auto;
}

#Now {
    text-align: center;
}

#now {
    font-size: 40px;
    font-weight: bold;
}

#join {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: black;
}

/* #Now a:hover {
    color: gray;
} */

#join:hover {
    opacity: 0.5;
}


#join > img {
    width: 25px;
    height: auto;
}

#goJoin {
    position: relative;
    top: 5px;
}


/*footer*/

footer {
    margin-top: 5rem;
}

#bottom #loofootTop {
    display: flex;
    justify-content: space-between;
}

#foot {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    font-size: small;
    font-weight: bold;
    padding: 0px;
}

#foot .footMenu {
    text-decoration-line: none;
    color: black;
}

#foot a:hover {
    color: gray;
}

#sharing {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.SNSLink:hover {
    opacity: 0.6;
}

#sharing .footIcon img {
    width: 25px;
    height: auto;
}

#medium {
    position: relative;
    top: 2px;
}

#bottom #detail {
    display: grid;
}

#detail #address {
    font-size: 15px;
    color: gray;
    margin: 0px;
    word-spacing: 1px;
}

#detail #corp {
    font-weight: bold;
    font-size: 15px;
    color: gray;
}

#bottom {
    border-top: 1px solid rgb(187, 187, 187);
    display: grid;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}